@page
@model Site.Pages.Menus.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Menu</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Menu.NumeProdus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Menu.NumeProdus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Menu.Pret)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Menu.Pret)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Menu.Descriere)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Menu.Descriere)
        </dd>
        
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Menu.ProdusId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
